html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Muli", "Helvetica", "Arial", "sans-serif";
}

:root {
  --black-border: 1px solid black;
  --bg1: rgba(0, 0, 0, 0.5);
  --bg2: rgba(255, 255, 255, 1);
  --bg3: rgba(0, 0, 0, 0.7);
  --bg4: rgba(0, 0, 0, 0.1);
  --bg5: rgba(255, 255, 255, 0.8);
}
/* Nav Section */

#mainNav {
  border-color: rgba(0, 0, 0, 0.5);
  background-color: var(--bg2);
  transition: all 0.35s;
  font-family: "Catamaran", "Helvetica", "Arial", "sans-serif";
  font-weight: 400;
  letter-spacing: 2px;
}

/* Hero section */

header.masthead {
  background: url("./images/henry2.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: -150px;
}

.jumbotronContainer {
  max-width: 75%;
  margin-top: 200px;
  margin-left: 12.5%;
  text-align: center;
  color: white;
  background-color: var(--bg1);
  padding: 10px;
  border: solid black 1px;
  border-bottom: none;
}

.btn {
  background-color: white;
  color: black;
  border: solid black;
}
.btn:hover {
  background-color: grey;
  color: white;
  border: white;
}

.my-4 {
  color: orange;
}

header.masthead .image-container {
  max-width: 30%;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
}

.img-fluid {
  max-width: 90%;
  border: solid 1px black;
  border-radius: 50%;
}

/* work card section */

.card-deck {
  padding: 50px;
  background: var(--bg3);
}

.card-deck .card .card-img-top {
  max-height: 100%;
  border-bottom: solid black 1px;
}

/*Skills Section*/
.container-skills {
  padding: 50px;
  background-color: var(--bg4);
}

.col-lg-6 .skills-item .mb-0 {
  list-style-position: inside;
  color: black;
  text-align: center;
}

/*Modal*/

.modal-content {
  min-width: 150%;
  position: absolute;
  margin-left: -25%;
  margin-right: auto;
}

#imagepreview {
  max-width: 100%;
}

/* About section cards */

.card2 {
  position: relative;
  text-align: center;
  margin-top: 100px;
}

.btn2 {
  padding: 10px;
  font-size: 30px;
}

.headshot2 {
  width: 50%;
  border: var(--black-border);
}

.card {
  border: solid black 1px;
  text-align: center;
  background: var(--bg5);
}

/*footer icons*/
.icons-container {
  min-height: 100px;
  background-color: var(--bg4);
}

.icons {
  text-align: center;
}
.fa {
  min-height: 50px;
  font-size: 30px;
  width: 20%;
  padding: 20px;
  color: black;
}

.fa:hover {
  box-shadow: -1em 0 0.4em var(--bg1);
  color: rgba(0, 0, 0, 0.5);
}

.legal {
  text-align: center;
  font-size: 11px;
  padding-top: 10px;
  background-color: var(--bg3);
  color: white;
}
/*Icon and email text (above). Placed here due to linear characteristic of CSS */

.headshot2 {
  margin: 15px;
}

.cardbody2 {
  display: inline-block;
  height: 300px;
  margin-top: 150px;
}

.fa-envelope {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 50px;
}

.email-link-text {
  color: black;
}

.email-link-text:hover {
  box-shadow: -1em 0 0.4em var(--bg1);
  color: var(--bg5);
}
/* media queries for using on a screen 755px and below. Needed space to close modal CV */

@media screen and (max-width: 755px) {
  #imagepreview {
    max-width: 70%;
  }

  .modal-footer {
    display: block;
  }
}

/* for enlarging image preview on bigger windows */

@media screen and (min-width: 1150px) {
  .modal-content {
    min-width: 250%;
    position: absolute;
    margin-left: -75%;
    margin-right: auto;
  }

  #imagepreview {
    max-width: 100%;
  }
}
